body {
	font: 'Noto', sans-serif;
    color: rgba(255, 255, 255,.9);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #8B77BA , #F5B4E3);
}

h1 {
    font: 100 3em 'Noto', sans-serif;
    color: rgba(255, 255, 255,.9);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    width: 100%;
}

h2 {
    font: 100 2em 'Noto', sans-serif;
    color: rgba(255, 255, 255,.9);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

h3, label {
	font: 100 1.2em 'Noto', sans-serif;
    color: rgba(255, 255, 255,.9);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.05em;
}

input {
    width: 5rem;
    margin: 1rem;
}